<!DOCTYPE HTML>
<html>
	<head>
		<title>SER by CALL CENTER</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', filename = 'styles/css/main.css')}}" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="/" id="logo">CALL CENTER</a></h1>
								<hr />
								<p>Speech Emotion Recognition</p>
							</header>
							<footer>
								<a href="/SER" class="button circled scrolly">Start</a>
							</footer>
						</div>
						<div class="conner">
							
						</div>
				</div>
		<!-- Scripts -->
			<script src="{{url_for('static', filename = 'styles/js/jquery.min.js')}}"></script>	
			<script src="{{url_for('static', filename = 'styles/js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename = 'styles/js/main.js')}}"></script>	

	</body>
</html>