<!DOCTYPE html>
<html>
<head>
    <!DOCTYPE html>
    <html lang=" en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--đảm bảo rằng trình duyệt IE sẽ hiển thị trang web theo cách tương thích nhất-->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{url_for('static', filename = 'styles/css/main.css')}}">
        <title>Group 1: Call Center</title>
</head>
<body class="homepage is-preload">
    <div id="page-wrapper">
        
        <!-- Header -->
            <div id="header" role="main">
                <!-- Inner -->
                    <div class="inner">
                        <h1>SPEECH EMOTION RECOGNITION</h1>
                        <form method="POST" action="/upload" enctype="multipart/form-data">
                            <label class="file-input-label" for="audio">Choose audio file :</label>
                            <input type="file" name="file" accept=".wav"><input type="SUBMIT" value="SUBMIT">
                            <div>
                              <label for="manual-link">Or enter a link:</label>
                              <input type="text" id="manual-link">
                              <button onclick="updateLinkFromManualInput()">Update</button>
                            </div>
                          </form>
                          <h2>EMOTION:</h2>
                          <div id="result">
                            <!-- Kết quả sẽ hiển thị ở đây sau khi xử lý -->
                          </div>
                    </div>
                    <div class="container">
                        <a href="https://github.com/TranCongTuyetXuanThu/DPL-Group1" target="_blank" id="github">
                            <img src="../static/images/github.png" alt="Link Github" class="github-logo">
                        </a>
                    </div>	
                <div class="conner">
                    <!-- <a href="https://github.com/TranCongTuyetXuanThu/DPL-Group1" target="_blank" id="github">
                        <img src="../static/images/github.png" alt="Link Github" class="github-logo">
                    </a> -->
                </div> 
                
            </div>
    <!-- Scripts -->
        <script src="{{url_for('static', filename = 'styles/js/jquery.min.js')}}"></script>	
        <script src="{{url_for('static', filename = 'styles/js/breakpoints.min.js')}}"></script>
        <script src="{{url_for('static', filename = 'styles/js/main.js')}}"></script>	

</body>
</html>
</html>